<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <urlMappings enabled="true">
      <add url="~/" mappedUrl="~/build/index.html" />
    </urlMappings>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect everything to root" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/build/{R:0}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
