.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#main-content {
    height: 800px;
}

.left-sidebar {
    border-right: 1px solid lightgray;
}

.right-sidebar {
    border-left: 1px solid lightgray;
}

#footer-content {
    border-top: 1px solid lightgray;
    width: 100%;
    height: 160px;
    overflow-y: scroll;
    margin: 0;
    padding: 10px;
}

.subheader {
    height: 30px;
    border-bottom: 1px solid lightgray;
}

li.node, ul.blockchain li {
    height: 160px;
    padding: 8px;
    margin-top: 5px;
    word-wrap: break-word;
}

li.node {
    border-bottom: 1px solid lightgray;
}

li.miner {
    background: lightsteelblue;
}

li.miner.found {
    background: lightgreen;
}

ul.blockchain {
    text-align: left;
    width: 250px;
}

ul.blockchain li {
    display: inline-block;
    width: 250px;
    text-align: left;
    font-size: 11px;
    font-family: monospace;
    overflow: hidden;
    margin-left: 10px;
}



ul.blockchain li p.data {
    font-weight: bold;
    color: white;
    padding: 15px 0 0 10px;
    position: relative;
}

ul.blockchain li p.data:before {
    content: 'DATA';
    font-family:arial;
    font-size: 8px;
    color: #fefefe;
    position: absolute;
    top:0;
    left: 2px;
    text-decoration: underline;
}

ul.blockchain li.valid {
    border: 1px solid mediumseagreen;
}

ul.blockchain li.invalid {
    border: 1px solid indianred;
}

ul.blockchain li.valid p.data {
    background: mediumseagreen;
}

ul.blockchain li.invalid p.data {
    background: indianred;
}