.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#main-content{
  height:800px;
}

.left-sidebar{
  border-right: 1px solid lightgray;
}

.right-sidebar{
  border-left: 1px solid lightgray;
}

#footer-content{
  border-top: 1px solid lightgray;
  width: 100%;
  height: 100px;
  overflow-y: scroll;
  margin: 0;
  padding: 10px;
}

.subheader{
  height: 30px;
  border-bottom: 1px solid lightgray;
}

li.node{
  height:75px;
  border-bottom: 1px solid lightgray;
  padding: 15px;
}